# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/
/SDLClasses/.vs/SDLClasses/v15/ipch
/Debug/
/SDLClasses/Debug
/SDLClasses/Release
/SDLClasses/x64
/SDLClassesTest/Debug
/SDLClassesTest/Release
/SDLClassesTest/x64
/SDLClassesTests/Debug
/SDLClassesTests/Release
/SDLClassesTests/x64
/SDLClasses/.vs/SDLClasses/v15
/SDLClasses/.vs/SDLClasses.sqlite
/.vs/SDLClasses/v15
/.vs/slnx.sqlite
